<footer>
    <!DOCTYPE html>
<html>
<head>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap" />
</head>
</head>
<body>
    <footer class="footer">
        <div class="footer__container">
            <div class="footer__section">
                <h2 class="footer__logo">TUXBIN</h2>
                <div class="footer__social-icons">
                  <a href="https://www.instagram.com/uriel.josslin/">
                      <img src="instagram.png" alt="Instagram" class="footer__icon">
                  </a>
                  <a href="https://www.facebook.com/profile.php?id=100011065752369">
                      <img src="facebook.png" alt="Facebook" class="footer__icon">
                  </a>
              </div>
              
            </div>

            <div class="footer__section">
                <h3>Acerca de nosotros</h3>
                <ul>
                    <li><a href="/somosTuxbin">Conócenos</a></li>
                </ul>
            </div>

            <div class="footer__section">
                <h3>Conoce puntos de recolección</h3>
                <ul>
                    <li><a href="/TuxMapa">Mapa</a></li>
                </ul>
            </div>

            <div class="footer__section">
                <h3>Información del servicio de recolección</h3>
                <ul>
                    <li><a href="https://tuxtla.gob.mx/1directorio-de-servidores-publicos">Servicios públicos</a></li>
                    <li><a href="https://www.facebook.com/@ayuntamiento.tuxtlagutierrez">Pagina de facebook</a></li>
                </ul>
            </div>
        </div>

        <div class="footer__bottom">
            <p>©2024 TUXBIN. All rights reserved</p>
            <div>
                <a>Privacy & Policy</a> | <a>Terms & Condition</a>
            </div>
        </div>
    </footer>
</body>
</html>
</footer>