<div class="div-form">
    <form> 
        <p>Crear Comunicado</p>
        <div class="div-titulo">
            <label for="name">Titulo de la Publicacion</label>
            <input id="name" formControlName="matricula" placeholder="Suceso">
        </div>

        <div class="div-descripcion">
            <label for="lastName" class="lb-descripcion">Descripcion Del Comunicado</label>
            <input id="lastName" formControlName="num_serie" placeholder="Descripcion" class="ipt-descripcion">
        </div>

        <div class="div-cargarImagen">
            <button class="btn-cargarImagen" type="submit">Cargar Imagen</button> 
        </div>

        <div class="div-guardar">
            <button class="btn-guardar" type="submit">Guardar</button> 
        </div>
    </form>
</div>
