<body>  
        <app-header></app-header>

<section class="section-one">
    <div class="logo">
        <img src="TUXBIN.png" alt="tuxbin-img" class="img-responsive">
        <p class="text">Tu nueva campanita de la basura</p>
        <div class="rute">
            <p >Conoce tu ruta</p> 
            <img src="camion-tuxbin.png" alt="rute-img" class="img-responsive">
          </div>
      </div>
      <div class="tuxmapa">
        <img src="home-tuxmapa.png" alt="map-img" class="img-responsive">
      </div>

      
</section>
<section id="section-two">

    <div class="section-two">
        <div class="title">
          <h1>Conoce lo que hacemos</h1>
          <p>Con nosotros conocerás puntos de reciclaje, puntos de recolección y la ruta de tu camión de la basura</p>
        </div>
      
        <div class="card-container-wrapper">
          <div class="card-container">
            <div class="card">
              <img src="puntos.png" alt="Puntos">
            </div>
            <div class="card-text">
              <h3>Puntos De Recolección</h3>
              <p>Para nosotros es importante que conozcas los puntos de recolección cerca de ti</p>
            </div>
          </div>
      
          <div class="line">
            <img src="line.png" alt="line">
          </div>
      
          <div class="card-container">
            <div class="card">
              <img src="Vector.png" alt="Notificaciones">
            </div>
            <div class="card-text">
              <h4>Recibe Notificaciones</h4>
              <p>Regístrate para recibir notificaciones sobre el camión de la basura</p>
            </div>
          </div>
      
          <div class="line">
            <img src="line.png" alt="line">
          </div>
      
          <div class="card-container">
            <div class="card">
              <img src="camioncito-tux.png" alt="Ruta">
            </div>
            <div class="card-text">
              <h4>Conoce Tu Ruta</h4>
              <p>Con nosotros conocerás puntos de reciclaje, puntos de recolección y la ruta de tu camión de la basura</p>
            </div>
          </div>
        </div>
      </div>
      
      
</section>
<app-footer></app-footer>
</body>
