<div class="a">
<app-header-admin></app-header-admin>

<div class="container">
    <head>
          <meta charset="utf-8">
          <meta name="viewport" content="initial-scale=1, width=device-width">
    </head>
    <body>
    </body>
  

    <div class="menu">
    <div class="sign-up">
        <img class="chris-lee-70l1tdai6rm-unsplash-icon" alt="" src="chris-lee-70l1tDAI6rM-unsplash 1.png"> 
  </div>

   <button class="puntos" >
      <img class="puntos-img" src="puntos.png" alt="puntos-img">
      <p>Rutas</p>
   </button>
   
   <button class="punto-recoleccion">
      <img class="recoleccion-img" src="recoleccion.png" alt="recoleccion">
      <div class="text">
            <p>Puntos de Recoleccion</p>
      </div>
      
   </button>
   
   <button class="notificaciones" (click)="irNotis()">
      <img class="notificaciones-img" src="Vector.png" alt="notificaciones">
      <div class="text">
            <p>Notificaciones</p>
      </div>
   </button>

<button class="div-informacion" (click)="irInfo()">
      <img class="informacion-img" src="informacion.png" alt="informacion">
      <div class="text">
            <p>Modulo de Informacion</p>
      </div>
      
</button>

<button class="div-camion" (click)="irACamiones()">
      <img class="camion-img" src="camion.png" alt="camion">
      <div class="text">
            <p>Camiones</p>
      </div>
     
</button>

</div>
 
</div>
</div>