<div class="div-form">
    <form> 
        <p>Enviar Notifiacion</p>
        <div class="div-titulo">
            <label for="name">Titulo</label>
            <input id="name" formControlName="matricula" placeholder="Suceso">
        </div>

        <div class="div-descripcion">
            <label for="lastName" class="lb-descripcion">Descripcion De La Notifiacion</label>
            <input id="lastName" formControlName="num_serie" placeholder="Descripcion" class="ipt-descripcion">
        </div>
        
        <div class="div-guardar">
            <button class="btn-guardar" type="submit">Guardar</button> 
        </div>
    </form>
</div>
