/* Global styles */
body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #fff;
  }
  
  h3 {
    letter-spacing: 25px;
    color: rgba(27, 62, 1, 1);
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  h1 {
    font-family: 'Inter', sans-serif;
    color: rgba(68, 68, 68, 1);
    font-size: 2rem;
    margin-bottom: 15px;
  }
  
  p {
    font-size: 1.06rem;
    color: #6C6C6C;
    line-height: 1.5;
    text-align: left;
    margin-bottom: 20px;
  }
  
  /* Layout */
  .main-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    gap: 30px;
    margin: auto;
    max-width: 1200px; /* Ancho máximo */
  }
  .p{
    height: 100%;
    width: 420px;
  }
  
  .right-section {
    flex: 1;
    background: #ffffff;
    margin-top: 150px;
    border: 1px solid #ffffff;
  }
  .left-section{
    flex: 1;
    padding: 20px;
    background: #ffffff;
    border: 1px solid #ffffff;
  }
  
  .one-section img,
  .second-section img {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin-top: 20px;
  }
  
  /* Adjustments for smaller screens */
  @media (max-width: 768px) {
    .main-content {
      flex-direction: column;
    }
  
    .left-section,
    .right-section {
      width: 100%;
    }
  }
  