<body>
    <div>
      <app-header></app-header>
    </div>
  
    <main class="main-content">
      <section class="left-section">
        <div class="one-section">
          <h3>¿QUÉ SOMOS?</h3>
          <h1>Quienes Somos</h1>
          <div class="p">
            <p>
                Somos un equipo de alumnos que buscan ayudar a su ciudad con el problema de basura que se tiene, 
                ya que somos testigos de la acumulación de basura que existe. Por lo tanto, queremos contribuir y ayudar a
                la ciudad de Tuxtla Gutiérrez Chiapas con este problema que nos afecta a todos.
              </p>
          </div>
        
          <img src="nosotros.png" alt="Nosotros">
        </div>
      </section>
      <section class="right-section">
        <div class="second-section">
           
            </div>
          <h3>¿POR QUÉ TÚ?</h3>
          <h1>¿Por qué nos interesas?</h1>
          <div class="p">
            <p>
                Este proyecto es importante para nosotros ya que, como todos, nos preocupa el mundo en donde vivimos 
                y los cambios que ha presentado debido a la contaminación. Queremos contribuir para dejar un mejor lugar a las próximas
                generaciones y que tengan la educación ambiental necesaria para poder ayudar al planeta y hacer la diferencia.
              </p>
          <img src="us.png" alt="Us">
        </div>
      </section>
    </main>
  
    <div>
      <app-footer></app-footer>
    </div>
  </body>
  