<body>
    <app-header></app-header>
    <div class="one-section">
        <h3>¿QUÉ SOMOS?</h3>
        <h1>Quienes Somos</h1>
        <p>somos un equipo de alumnos que buscan ayudar a su ciudad con el problema de basura que se tiene, 
            ya que somos testigos de la acumulación de basura que existe, por lo que queremos contribuir y ayudar a
             la ciudad de Tuxtla Gutiérrez Chiapas con este problema que nos afecta a todos.</p>
        <img src="nosotros.png" alt="">
    </div>
    <div class="second-section">
        <h3>¿POR QUÉ TÚ?</h3>
        <h1>¿Por qué nos interesas?</h1>
        <img src="us.png" alt="">
    </div>
</body>