<h2 mat-dialog-title>Modificar Camión</h2>
<mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Matrícula</mat-label>
    <input matInput [(ngModel)]="data.matricula">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Número de Unidad</mat-label>
    <input matInput [(ngModel)]="data.numero_unidad">
  </mat-form-field>



<mat-dialog-actions>
  <div class="btns">
    <button class="save-button" (click)="onCancel()">Cancelar</button>
    <button class="save-button" (click)="onSave()" cdkFocusInitial>Guardar</button>
  </div>
</mat-dialog-actions>
