.chris-lee-70l1tdai6rm-unsplash-icon {
    position: relative;
    left: 985px;
    border-radius: 25px 10px 0px 25px;
    width: 681px;
    height: 822px;
    object-fit: cover;
}

.sign-up {
    width: 100%;
    position: absolute;
    top: 76px;
    background-color: #fff;
    overflow: hidden;
}

.form{
    position: absolute;
    top: 200px;
    left: 100px;
}
